@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Montserrat;
  background: url("/img/bg.png");
  width: 1784px;
  height: 1526px;
  padding: 0 117px;
}

.la-logo {
  background-color: #506c82;
}

.la-logo__image {
  margin: 0px 361px 82px 673px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.la-logo__title {
  text-align: center;
  font-size: 122.5px;
  color: #ffffff;
  font-weight: bold;
}

.la-logo__text {
  padding: 142px;
  text-align: center;
  font-size: 28px;
  margin-top: 17px;
  font-weight: bold;
}

.la-logo__text a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.la-logo__text a:hover {
  color: #55adcf;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #022e50;
}

.info__title {
  text-align: center;
  margin-top: 142px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}

.info__title:hover {
  color: #55adcf;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.info__text {
  color: #ffffff;
  margin-bottom: 46px;
  padding-top: 15px;
  width: 691px;
  height: 211px;
  font-size: 29px;
  text-align: center;
}

.info__text:hover {
  color: #55adcf;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.info__media {
  margin-bottom: 171px;
}

.info__media ul {
  padding-left: 30px;
}

.info__media li {
  display: inline;
  margin-right: 30px;
}

.footer {
  background-color: #022e50;
}

.footer__elipse {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__elipse-btn {
  margin-left: 663px;
}

.footer__elipse-btn ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__elipse-btn li {
  margin-right: 34px;
  display: inline-block;
  margin-bottom: 90px;
}
