@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$color1: #506c82;
$color2: #ffffff;
$color3: #55adcf;
$color4: #022e50;

body{
  font-family: Montserrat;
  background: url('/img/bg.png');
  width: 1784px;
  height: 1526px;
  padding: 0 117px;
}

.content{
}

.la-logo {
  background-color: $color1; //TODO: Сделать прозрачность цвета

  &__image{
    margin: 0px 361px 82px 673px; //TODO: Изменение цвета при наведении
    align-items: center;
    
  }

  &__title {
    text-align: center;
    font-size: 122.5px;
    color: #ffffff;
    font-weight: bold;
  }

  &__text {
    padding: 142px;
    text-align: center;
    font-size: 28px;
    margin-top: 17px;
    font-weight: bold;

    a{
      color: $color2;
      text-transform: uppercase;
      font-weight: bold;

      &:hover{
        color: $color3;
        background-color: $color2;
        border-radius: 15px;
        padding: 10px;
        transition: 0.55s;
      }
    }
  }
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #022e50; //TODO: Сделать прозрачность цвета
  
  &__title {
    text-align: center;
    margin-top: 142px;
    margin-bottom: 30px;
    color: $color2;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;

    &:hover{
      color: $color3;
      background-color: $color2;
      border-radius: 15px;
      transition: 0.55s;
    }
  }

  &__text {
    color: $color2;
    margin-bottom: 46px;
    padding-top: 15px;
    width: 691px;
    height: 211px;
    font-size: 29px;
    text-align: center;

    &:hover{
      color: $color3;
      background-color: $color2;
      border-radius: 15px;
      transition: 0.55s;
    }
  }

  &__media {
    margin-bottom: 171px;
    ul{
      padding-left: 30px; //TODO: Изменение цвета при наведении
    }
    li{
      display: inline;
      margin-right: 30px;
    }
  }

  &__media-btn {
  }
}

.footer {
  background-color: $color4;

  &__elipse {
    align-items: center;
  }

  &__elipse-btn {
    margin-left: 663px;
    
    ul{
      justify-content: center;
    }
   li{
    margin-right: 34px;
    display: inline-block;
    margin-bottom: 90px;
   }
  }
}




